body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-gotham-pro: "Gotham Pro";
  --font-abel: Abel;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-sm-4: 13.4px;
  --font-size-3xs-1: 9.1px;
  --font-size-164xl: 183px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;

  /* Border radiuses */
  --br-xl: 20px;
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-xs: 12px;
  --br-4xl-9: 23.9px;
  --br-mini-4: 14.4px;
}
